body{
    background-color: #ebbb29;
}

header{
    width: 100%;
    height: 170px;
    text-align: center;
    padding-top: 10px;
}

.navbar{
    background-color: #ebbb29;
}

#login, #registro{
    margin-left: 5px;
    background-color: #22468e;
}

#login:hover, #registro:hover{
    background-color: #0069d9;
}

#buscar{
    color: #22468e;
    border-color: #22468e;
}

#buscar:hover{
    background-color: #22468e;
    color: white;
}

.desplegable{
    text-align: right;
    margin-left: 5px; 
    padding-right: 45px;
}

.carousel-inner{
    padding-left: 30px;
    padding-right: 30px;
}

.titulo{
    width: 100%;
    height: 200%;
    text-align: center;
    padding-top: 50px;
    font-size: 32px;
}

#productos{
    padding-left: 35px;
}

footer{
    padding-top: 50px;
    text-align: center;
}